body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

ul {
  list-style-type: none;
}

li{
  border-style: none none solid none;
  border-width: 1px;
  border-color: lightgrey;
  padding-top: 5px;
  padding-bottom: 5px;
}
